@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 50px;">Welcome to the Collabria Portal</h1>

    @* <p><a href="@Model.ConsumerLink">Click here to access your consumer web form</a></p>
    <p><a href="@Model.BusinessLink">Click here to access your business web form</a></p> *@

    <div class="icon-container">
        <div class="icon-with-text">
            <a href="@Model.ConsumerLink">
                <img src="/images/users.png" alt="Consumer Form" width="100" height="100" />
            </a>
            <p>Consumer Form</p>
        </div>

        <div class="icon-with-text">
            <a href="@Model.BusinessLink">
                <img src="/images/building.png" alt="Business Form" width="100" height="100" />
            </a>
            <p>Business Form</p>
        </div>

        <div class="icon-with-text">
            <a asp-page="/AddUser">
                <img src="/images/AddUser.png" alt="Business Form" width="100" height="100" />
            </a>
            <p>Add User</p>
        </div>

        <div class="icon-with-text">
            <a asp-page="/DeleteUser">
                <img src="/images/RemoveUser.png" alt="Business Form" width="100" height="100" />
            </a>
            <p>Delete User</p>
        </div>

        <div class="icon-with-text">
            <a href="https://mystaff.microsoft.com/">
                <img src="/images/PasswordReset.png" alt="Business Form" width="100" height="100" />
            </a>
            <p>Reset Password</p>
        </div>
    </div>

</div>
